<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Akshaya html page</h1>
    <h1><a href="{% url 'nothing:Kruthi' %}">go to kruthi web page</a></h1>
</body>
</html>
<style>
    *
    {
        margin: 0px;
        background:rgb(0, 0, 0);
    }
    h1
    {
        background: rgb(255, 255, 255);
        margin-top: 80px;
        text-align: center;
        padding: 30px;
        font-size: 50px;
        color: rgb(34, 0, 255);
    }
    a
    {
        background: rgb(0, 255, 200);
        color: rgb(255, 255, 255);
        text-decoration:none ;
        border-radius: 5px;
    }
</style>