<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teju html page</h1>
    <h1><a href="{% url 'something:nithya' %}">got nithya html page</a></h1>
</body>
</html>
<style>
    *
    {
        margin: 0px;
        background:red;
    }
    h1
    {
        background: whitesmoke;
        margin-top: 80px;
        text-align: center;
        padding: 30px;
        font-size: 50px;
    }
    a
    {
        background: blue;
        color: white;
        text-decoration:none ;
        border-radius: 5px;
    }
</style>